<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Employee App</title>
    </head>

    <body>
        <h2>Liste des Employées</h2>
        <table>
            <thead>
                <tr>
                    <th>Prenom</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${employees}">
                    <td colspan="3">Aucun employé en base de données</td>
                </tr>
                <tr th:each="employee: ${employees}">
                    <td><span th:text="${employee.firstName}">Prenom</span></td>
                    <td><span th:text="${employee.lastName}">Nom</span></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>